<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login_form</title>
</head>
<body>
  <form action="/login" method="POST">
    <div>
      <label for="username"></label>
      <input type="text" id="username" name="username" required />
    </div><br />
    <div>
      <label for="password"></label>
      <input type="password" id="password" name="password" required />
    </div><br />
    <div>
      <input type="submit" value="Login" />
      <input type="button" value="SignUp" onclick="location.href='/security/signUpForm'" />
    </div>
  </form>
</body>
</html>